table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Add border to table cells */
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  /* Change opacity on hover */
  tr:hover {
    opacity: 0.7;
    background-color: #969696a6;
  }